@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "@heroui/styles";

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(62.48% 0.1648 128.61);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.02 128.61);
  --border: oklch(90% 0.02 128.61);
  --danger: oklch(65.32% 0.2421 10.71);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.02 128.61);
  --default-foreground: oklch(21.03% 0.0059 128.61);
  --field-background: oklch(100% 0.01 128.61);
  --field-foreground: oklch(21.03% 0.02 128.61);
  --field-placeholder: oklch(55.17% 0.04 128.61);
  --focus: oklch(62.48% 0.1648 128.61);
  --foreground: oklch(21.03% 0.02 128.61);
  --muted: oklch(55.17% 0.04 128.61);
  --overlay: oklch(100% 0.006 128.61);
  --overlay-foreground: oklch(21.03% 0.02 128.61);
  --scrollbar: oklch(87.1% 0.02 128.61);
  --segment: oklch(100% 0.02 128.61);
  --segment-foreground: oklch(21.03% 0.02 128.61);
  --separator: oklch(92% 0.02 128.61);
  --success: oklch(73.29% 0.2012 135.78);
  --success-foreground: oklch(21.03% 0.0059 135.78);
  --surface: oklch(100% 0.01 128.61);
  --surface-foreground: oklch(21.03% 0.02 128.61);
  --surface-secondary: oklch(95.24% 0.016 128.61);
  --surface-secondary-foreground: oklch(21.03% 0.02 128.61);
  --surface-tertiary: oklch(93.73% 0.016 128.61);
  --surface-tertiary-foreground: oklch(21.03% 0.02 128.61);
  --warning: oklch(78.19% 0.1648 57.3);
  --warning-foreground: oklch(21.03% 0.0059 57.3);

  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.48% 0.1648 128.61);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.02 128.61);
  --border: oklch(28% 0.02 128.61);
  --danger: oklch(59.4% 0.2046 9.6);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.02 128.61);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.04 128.61);
  --field-foreground: oklch(99.11% 0.02 128.61);
  --field-placeholder: oklch(70.5% 0.04 128.61);
  --focus: oklch(62.48% 0.1648 128.61);
  --foreground: oklch(99.11% 0.02 128.61);
  --muted: oklch(70.5% 0.04 128.61);
  --overlay: oklch(21.03% 0.04 128.61);
  --overlay-foreground: oklch(99.11% 0.02 128.61);
  --scrollbar: oklch(70.5% 0.02 128.61);
  --segment: oklch(39.64% 0.02 128.61);
  --segment-foreground: oklch(99.11% 0.02 128.61);
  --separator: oklch(25% 0.02 128.61);
  --success: oklch(73.29% 0.2012 135.78);
  --success-foreground: oklch(21.03% 0.0059 135.78);
  --surface: oklch(21.03% 0.04 128.61);
  --surface-foreground: oklch(99.11% 0.02 128.61);
  --surface-secondary: oklch(25.7% 0.03 128.61);
  --surface-secondary-foreground: oklch(99.11% 0.02 128.61);
  --surface-tertiary: oklch(27.21% 0.03 128.61);
  --surface-tertiary-foreground: oklch(99.11% 0.02 128.61);
  --warning: oklch(82.03% 0.1444 61.31);
  --warning-foreground: oklch(21.03% 0.0059 61.31);
}
